section {
    margin:auto;    
    width: 625px;
    background-color: lightgray;
    color: white;
}

article {
    display: inline-block;
    width: 625px;
    font-family: 'Roboto', serif;
    font-weight: 400;
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom: 25px solid transparent;
}

h1 {
    display: inline-block;
    font-family: 'Merriweather', serif;
    font-weight: 900;
    font-size: 25px; 
    border-top: 30px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 25px solid transparent;
    margin: 0px;
}

p {
    display: inline-block;
    font-size: 13px;
    width: 515px;
    opacity: 0.8;
    line-height: 18px;
    margin: 0px;
    border-left: 25px solid transparent;
    border-bottom: 30px solid transparent;
}

.div1 {
    border-bottom: 10px solid transparent;
    border-left: 25px solid transparent;
}

.div2 {
    border-bottom: 25px solid transparent;
    border-left: 25px solid transparent;
}

button {
    display: inline-block;
    font-family: 'Trebuchet MS', Arial, sans-serif;
    padding: 0px;
    background-color: rgba(189, 188, 188, 0.4);
    color: white;
    border-radius: 15px;;
    font-size: 13px;
    border-width: 7px 17px;
    border-style: solid;
    border-color: rgba(189, 188, 188, 0.2);
}

#article1 {
    background-image: url(./resources/žuta.jpg);
}

#article2 {
    background-image: url(./resources/roza.jpg);
}

#article3 {
    background-image: url(./resources/telefon.jpg);
}