article{
    display: block;
    margin: auto;
    font-family: 'Roboto', serif;
    font-weight: 400;
    color: white;
    width: 625px;
    height:270px;
    background-size: 625px;
    background-repeat: no-repeat;
}
div{
    height: 38px;
    margin-left: 15px;
}
h1{
    display: inline-block;
    font-family: 'Merriweather', serif;
    font-weight: 900;
    height: 30px;
    font-size: 24px;
    margin-left: 25px;
}
button{
    display: inline-block;
    font-family: 'Roboto', serif;
    color: white;
    font-weight: 400;
    background-color: rgba(189, 188, 188, 0.4);
    border-style: none;
    border-radius: 15px;
    height: 28px;
    font-size: 13px;
    margin-left: 12px;
    margin-right: 12px;
}
p{
    display: inline-block;
    font-size: 13px;
    margin-left: 25px;
    width: 500px;
    opacity: 0.8;
    height: 60px;
    line-height: 18px;
}
#article1{
    background-image: url(./resources/žuta.jpg);
}
#article2{
    background-image: url(./resources/roza.jpg);
}
#article3{
    background-image: url(./resources/telefon.jpg);
}